*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    direction: rtl;
    font-family: 'Cairo', sans-serif;
    background-color: #1b1b1b;
}
.sec1{
    height: 75vh;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    position: relative;
    width: 100%;
}
.nav{
    display: flex;
    height: 80px;
    line-height: 80px;
    justify-content: center;
    transition: 0.2s;
    padding: 5px;
}
.nav a{
    margin: 0 20px;
    color: rgb(179, 179, 179);
    text-decoration: none;
    font-size: 20px;
    height: 0;
    transition: 0.2s;
}
.nav a:hover{
    color: rgb(255, 255, 255);
}
.bck{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation-name: change-scale;
    animation-duration: 10s;
    animation-direction:alternate-reverse;
}

.sebox i{
    margin: 0;
    padding: 0;
    color: aliceblue;
    position: absolute;
    top: 39px;
    left: 490px;
}
.se{
    border: none;
    background-color: rgba(100, 100, 100, 0.8);
    height: 30px;
    width: 250px;
    margin: 0;
    padding: 0;
    color: aliceblue;
    border-radius: 20px;
    padding: 10px;
}
.se::placeholder{
    color: rgb(187, 187, 187);
}
.se:focus{
    background-color: transparent;
}
@keyframes change-scale{
    from {
        scale: 100%;
    }
    to {
        scale: 150%;
    }
}
.tex{
    color: aliceblue;
    font-size: 25px;
    position: absolute;
    right: 25%;
    top: 30%;
    text-shadow: 5px 5px black;
}
.pro{
    position: absolute;
    left: 20%;
    top: 20%;
    width: 250px;
    border-radius: 10px;
    box-shadow: -10px 10px rgb(255, 166, 111);
}
.sec2{
    position: relative;
    height: 200vh;
}
.sec2 hr{
    position: absolute;
    top: 50px;
    width: 70%;
    margin-right: 15%;
    background-color: rgb(255, 255, 255);
    height: 4px;
    z-index: -1;
}
.sec2 h1{
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    background-color: #1b1b1b;
    padding:20px;
    color: white;
    margin-bottom: 30px;
}
.sli{
    display: flex;
    gap: 8px;
    justify-content: center;
}
.sli img{
    height: 390px;
}
.gh{
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}
.cont{
    position: relative;
    margin: 40px 0;
}
.gh:hover{
    background-color: #464646;
    scale: 105%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #323232;
    z-index: 1000;
}
.jk img{
    height: 200px;
}
.jk{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.gk{
    cursor: pointer;
}
